# Copy this file to .env and fill in the values before running the application
FIREBASE_API_KEY=FILL_IN_YOUR_FIREBASE_API_KEY_HERE
DJANGO_SECRET_KEY=FILL_IN_YOUR_DJANGO_SECRET_KEY_HERE
DJANGO_DEBUG=FILL_IN_TRUE_OR_FALSE
HOST_URL=FILL_IN_YOUR_HOST_URL_HERE
HOST_PORT=FILL_IN_YOUR_HOST_PORT_HERE