# Copy this file to .env and fill in the values before running the application
FIREBASE_API_KEY=FILL_IN_YOUR_FIREBASE_API_KEY_HERE
DJANGO_SECRET_KEY=FILL_IN_YOUR_DJANGO_SECRET_KEY_HERE
DJANGO_DEBUG=FILL_IN_TRUE_OR_FALSE
HOST_URL=FILL_IN_YOUR_HOST_URL_HERE
ALLOWED_HOSTS=FILL_IN_YOUR_ALLOWED_HOSTS_HERE_COMMA_SEPARATED
CORS_ALLOWED_ORIGINS=FILL_IN_YOUR_CORS_ALLOWED_ORIGINS_HERE_COMMA_SEPARATED
POSTGRES_DB=FILL_IN_YOUR_POSTGRES_DB_NAME_HERE
POSTGRES_USER=FILL_IN_YOUR_POSTGRES_USER_HERE
POSTGRES_PASSWORD=FILL_IN_YOUR_POSTGRES_PASSWORD_HERE
DB_HOST=FILL_IN_YOUR_DB_HOST_HERE
DB_PORT=FILL_IN_YOUR_DB_PORT_HERE